<div class="col-md-12">
<h2> Host Reviews (<%= @host_reviews.count %>) </h2>
    <% @host_reviews.each do |review| %>
        <div class="row mt-4">
            <div class="col-md-3 text-center">
                <span class="rounded-circle">
                    <%= profile_picture(review.user)%>
                </span>
                <br>
                <strong><%= review.user.name %></strong>
            </div>
            <div class="col-md-9 media-body">
                <% if review.user == current_user %>
                    <%= link_to '<i class="fa fa-trash fa-2x text-info"></i>'.html_safe, reservation_review_path(review.reservation, review), method: :delete,
                        data: {confirm: "Are you sure want to delete this review?"}, remote: true,
                        class: "float-right" %>
                <% end %>
                <div id="rating-form-<%= review.id %>"></div>
                <small><%= review.created_at.strftime('%b %d, %Y') %></small>
                <p><%= review.comment %></p>
            </div>
        </div>
        <script>
            $('#rating-form-<%= review.id %>').raty({
                path: '/assets/',
                scoreName: 'review[rating]',
                number: 5,
                score: '<%= review.rating %>',
                readOnly: true
            });
        </script>
    <% end %>
</div>