<%= form_for(@property) do |f| %>
    <div class="row justify-content-center">
        <div class="row col-10">
            <div class="form-group col-4">
                <%= f.check_box :has_tv, class: "form-check-input" %>
                <%= f.label :has_tv, "TV", class: "form-check-label" %>
            </div> 
            <div class="form-group col-4">
                <%= f.check_box :has_heater, class: "form-check-input" %>
                <%= f.label :has_heater, "Heater", class: "form-check-label" %>
            </div> 
            <div class="form-group col-4">
                <%= f.check_box :has_aircon, class: "form-check-input" %>
                <%= f.label :has_aircon, "Air conditioning", class: "form-check-label" %>
            </div> 
            <div class="form-group col-4">
                <%= f.check_box :has_kitchen, class: "form-check-input" %>
                <%= f.label :has_kitchen, "Kitchen", class: "form-check-label" %>
            </div> 
            <div class="form-group col-4">
                <%= f.check_box :has_wifi, class: "form-check-input" %>
                <%= f.label :has_wifi, "WiFi", class: "form-check-label" %>
            </div> 
        </div> <!-- center -->
    </div> <!-- row -->
    <div class="row col-12 mt-4">
        <div class="form-group col-4">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group" role="group">
                    <%= f.submit "Save", class: "btn btn-dark" %>
                </div>
            </div>
        </div> <!-- button -->
    </div> <!-- row -->
<% end %>