<div class="sidebar-list">
    <section class="list-group-item list-group-item-action">
        <%= link_to "Listing", listing_property_path, class: "nav-link" %>
    </section>
    <section class="list-group-item list-group-item-action">
        <%= link_to "Pricing", pricing_property_path, class: "nav-link" %>
    </section>
    <section class="list-group-item list-group-item-action">
        <%= link_to "Description", description_property_path, class: "nav-link" %>
    </section>
    <section class="list-group-item list-group-item-action">
        <%= link_to "Photos", photos_property_path, class: "nav-link" %>
    </section>
    <section class="list-group-item list-group-item-action">
        <%= link_to "Amenities", amenities_property_path, class: "nav-link" %>
    </section>
    <section class="list-group-item list-group-item-action">
        <%= link_to "Location", location_property_path, class: "nav-link" %>
    </section>
    <hr>
    <%= link_to "Publish", "#", class: "btn btn-dark btn-block", remote: true %>
</div>