<div class="row"> 
    <div class="col-3">
        <div class="card mt-4">
            <div class="card-body">
                <ul class="sidebar-list">
                    <section class="list-group-item list-group-item-action">
                        <%= link_to "Your Listings", properties_path, class: "nav-link" %>
                    </section>
                    <section class="list-group-item list-group-item-action">
                        <%= link_to "Your Reservations", "#", class: "nav-link" %>
                    </section>
                    <section class="list-group-item list-group-item-action">
                        <%= link_to "Your Trips", "#", class: "nav-link" %>
                    </section>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="card mt-4">
            <div class="card-header text-white bg-dark">
                Your Listings 
            </div>    
            <div class="card-body">
                <div class = "container ">
                    <div class = "row">
                        <% @properties.each do |property| %>
                            <div class="col-2 mt-3">
                                <% if property.photos.any? %>
                                    <%= image_tag property.photos.first.image.url(:thumb), style: 'height:80px;width:110px;', class: "img-thumbnail" %>
                                <% else %>
                                     <%= image_tag 'nophoto.png', style: 'height:100px;width:110px;', class: "img-thumbnail" %>
                                <% end %>
                            </div>
                            <div class="col-7 mt-3">
                                <h4><%= property.title %></h4>
                            </div>
                            <div class="col-3 mt-3">
                                <%= link_to 'Update', listing_property_url(property), class: "btn btn-info" %>
                            </div>
                        <% end%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>