<div class="row pt-4">
    <div class="col-lg-3 ">
        <%= render 'sidebar' %>
    </div>
    <div class="col-lg-9">
        <%= form_for @property, url: property_photos_path(@property), method: "post", html: { :multipart => true }, enctype: 'multipart/form-data' do |f| %>
            <div class="card mb-5">
                <div class="card-header text-center text-white bg-dark">Photos</div>
                <div class="card-body">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-8">
                                <div class="form-group">
                                    <div class="control-group">
                                        <div class="controls">
                                            <div class="text-center">
                                                <div class="custom-file mt-4">
                                                    <label for="photos_" class="custom-file-upload">
                                                        <i class="fa fa-cloud-upload"></i> Select photos
                                                    </label>
                                                    <%= file_field_tag "photos[]", type: :file, multiple: true %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="form-group col-2 mt-4">
                                <div class="btn-toolbar" role="toolbar">
                                    <div class="btn-group" role="group">
                                        <%= f.submit "Add photos", class: "btn btn-dark" %>
                                    </div>
                                </div>
                            </div> <!-- button -->
                        </div> <!-- row -->
                        <div class="container col-lg-10">
                            <div class="row card-deck">
                                <% @property.photos.each do |photo| %>
                                    <div class="col-md-4">
                                        <div class="card">
                                            <div class="card-header preview">
                                                <%= image_tag photo.image.url(:original) %>
                                            </div>
                                            <div class="card-body">
                                                <%= link_to "Delete", property_photo_path(@property, photo) , method: :delete,
                                                    data: {confirm: "Are you sure want to delete this image?"}, class: "btn btn-dark" %>
                                            </div>
                                        </div> <!-- card -->
                                    </div> <!-- col -->
                                <% end %>
                            </div> <!-- row card-deck -->
                        </div> <!-- container for btn -->
                    </div> <!-- overall container -->
                </div> <!-- overall card body -->
            </div> <!-- overall card -->
            <% end %>
    </div> <!-- overall col -->
</div> <!-- overall row -->