<%= form_for(@property) do |f| %>
    <div class="row pt-4">
        <div class="col-lg-3 ">
            <%= render 'sidebar' %>
        </div>
        <div class="col-lg-9">
            <div class="card mb-5">
                <div class="card-header text-center text-white bg-dark">Pricing</div>
                    <div class="card-body">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-8">
                                    <div class="form-group">
                                        <%= f.label :price, "Price" %>
                                        <%= f.text_field :price, placeholder: "e.g. ₱ 2,500.00", autofocus: true, class: 'form-control', required: 'required' %>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="form-group col-2 mt-4">
                                    <div class="btn-toolbar" role="toolbar">
                                        <div class="btn-group" role="group">
                                            <%= f.submit "Save", class: "btn btn-dark" %>
                                        </div>
                                    </div>
                                </div> <!-- button -->
                            </div> <!-- row -->
                        </div>  <!-- container -->
                    </div>  <!-- card body -->
                </div> <!-- card header -->
            </div> <!-- overall card -->
        </div> <!-- overall col -->
    </div> <!-- overall row -->
<% end %>