<div class="text-dark">
    <div class="modal-header">
        <h5 class="modal-title">Review Host</h5>
        <button type="button" class="close float-right" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <%= form_for([reservation, current_user.reviews.build]) do |f| %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.hidden_field :property_id, value: reservation.property.id %>
            <%= f.hidden_field :reservation_id, value: reservation.id %>
            <div class="text-center">
                <div id="rating-form-<%= reservation.id %>"></div> <!-- rating form -->
                <%= f.text_area :comment, placeholder: "Tell us about your experience!", required: true, class: "form-control mt-4", rows: "3" %>

                <%= f.submit "Add Review", class: "btn btn-info mt-4" %>
            </div> <!-- text center -->
            <script>
                $('#rating-form-<%= reservation.id %>').raty({
                    path: '/assets/',
                    scoreName: 'review[rating]',
                    number: 5,
                    score: 1
                });
            </script>
        <% end %>
    </div>
</div>

<%# Star %>