<header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <div class="container"><%= link_to "PokeHost", root_path, class: "navbar-brand" %>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="form-inline mt-2 mt-md-0">
                    <%#= search_form_for @search, url: search_path, :method => :get do |f| %>
                        <%#= f.text_field :location_cont, placeholder: "Where are you going?", class: "form-control mr-sm-2", required: true %>
                    <%# end %>
                </div>
                <ul class="navbar-nav ml-auto">
                    <% if user_signed_in? %>
                        <li>
                            <%= link_to "Become a host", new_property_path, class: "btn btn-outline-info text-white" %>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle mr-4" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <%= current_user.name %> <b class="caret"></b>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown01">
                                <%= link_to "Manage Listing", properties_path(@property), class: "dropdown-item" %>
                                <%= link_to "List your Space", new_property_path, class: "dropdown-item" %>
                                <%= link_to "Your Reservations", reservations_path, class: "dropdown-item" %>
                                <%= link_to "Your Trips", trips_path, class: "dropdown-item" %>
                                <div class="dropdown-divider"></div>
                                <%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %>
                                <%= link_to "Log out", destroy_user_session_path, class:"dropdown-item", :method => :delete %>
                            </div>
                        </li>
                    <% else %>
                        <li>
                            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
                        </li>
                        <li>
                            <%= link_to "Signup", new_user_registration_path, class: "nav-link" %>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </nav>
</header>