<!DOCTYPE html>
<html>
    <head>
        <title><%= full_title(yield(:title)) %></title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%= render 'layouts/shim' %>
        <script src="https://kit.fontawesome.com/78a530eb20.js"></script>
    </head>
    <body>
        <%= render 'layouts/header' %>
        <div class="container">
            <%= yield %>
        </div>
        <%= custom_bootstrap_flash %>

        <script type="text/javascript">
        $(document).on('turbolinks:load', function(){
            $('.carousel').carousel({
                interval: 2000
            });
        });
        </script>
    </body>
</html>
